@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .site-container {
  }
}

@layer components {
  .imagetext {
    color: white;
    position: fixed;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    left: 0;
    width: 50%;
    padding: 250px;
  }
}

@layer components {
  .title-container {
    color: white;
    position: relative;
    width: 100%;
    padding: 3rem;
  }
}

@layer components {
  .aside-title {
    font: normal 700 2rem/1.4 "Montserrat", sans-serif;
    max-width: 500px;
    margin-bottom: 2.4rem;
  }
}

@layer components {
  .aside-text {
    font: normal 300 1rem/1.7 "Montserrat", sans-serif;
    max-width: 500px;
    margin-bottom: 2.2rem;
  }
}
@layer base {
  .socials {
    display: block;
    position: relative;
    line-height: 1;
  }
}
